body{
    overflow: hidden;
  } 
  .w-100{
    width: 100%;
  }
  
  // Scrollbar styles
  @mixin scrollbar {
    &::-webkit-scrollbar {
      width: 10px; /* Width of the entire scrollbar */
    }
  
    &::-webkit-scrollbar-track {
      background-color: #f2f2f2; /* Background color of the tracking area */
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #bebebe; /* Thumb color */
      border-radius: 5px;
    }
  
    &::-webkit-scrollbar-thumb:hover {
      background-color: #bebebe; /* Thumb color on hover */
    }
  }
    
  // Apply scrollbar styles to the body and page render overflow
  body {
    @include scrollbar;
  }

  .scroll-container-for-vertical-pokemon-types {
    @include scrollbar;
  
    &::-webkit-scrollbar {
    width: 5px;
    //   height: 9px;
    }
  }
  
  .container-element {
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50px;
  }
  .element-icon {
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
  } 
  
  .container-element-floating-button {
    @extend .container-element;
    width: 40px;
    height: 40px;
  }
  .element-icon-floating-button {
    @extend .element-icon;
    height: 40px;
  }     

  .cursor-pointer {
    cursor: pointer;
  }